p {
   color: #05b193f2;
}

#btnIcon {
   padding-top: 20px; 
   flex :1;
}
 
svg{
   color: #05b193f2;
}


#btnText {
   flex :2;
}

#navBtn:hover > li>p{
   color:white;
   font-weight: 600;
}

#navBtn:hover > #btnIcon >svg{
   color:white;
}

#navBtn {
   flex-flow: row wrap;
   align-items: stretch;
   display: flex;
   justify-content: center;
   padding-right: 15px;
   flex-wrap: wrap;
   margin: 10px;

   border-bottom: 2px solid #00f0c3b5;
   border-right: 5px solid #00f0c3b5;
}
