p {
   color: beige;
}

#btnIcon {
   padding-top: 20px; 
   flex :1;
}
 
 /* Change the link color on hover */
 #navBtn:hover {
   background-color: #05b19336;
   border-radius: 50px 0px 0px 50px;
   color: white;
 }

#btnText {
   flex :2;
}

#navBtn {
   flex-flow: row wrap;
   align-items: stretch;
   display: flex;
   justify-content: center;
   padding-right: 15px;
   flex-wrap: wrap;
   margin: 10px;

   border-bottom: 2px solid #00f0c3b5;
   border-right: 5px solid #00f0c3b5;
}
