#header {
    display: flex;
    flex: 1;
    justify-content: center;
}

h1, h5 {
    color: #04886f;
}

/* .project-input{
    margin-left: 10px;
    margin-right: 10px;  
    outline: 0;
    border-width: 0 0 2px;
    border-color: #04886f;
    background: #eeeeee;
} */

.project-status{
    padding-top: 4px;
    padding-left: 15px;
    font-weight: 900;
    visibility: hidden
}

.failed{
    color: #cb2027;
    visibility: visible
}

.success{
    color: #319617;
    visibility: visible
}