h3 {
  text-align: center;
  padding: 1.0%;
  color: white;
  font-size: 26px;
  width: 100%;
  margin: auto;
  text-align: left;
}

.project-select{
  margin-right: 35px;
  color: white;
  background: #10161c;
  border-radius: 8px;
}

.project-select:focus{
  margin-right: 35px;
  color: white;
  background: #026352db;
  border-radius: 8px;
}

.blur {
  background-color: #000c19;
}

logo {}

.project-input {
  color: white;
  background: #000c19;
}