.navBlur{
    background: #0d1319fa;
    width: 200px;
}

@media (max-width: 300px) {
    .navBlur{
        width: 100%;
    }
}

.navBlur ul{
    padding-left: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;     
}

