* {
    box-sizing: border-box;
}

body {
    font-family: "Maven Pro", sans-serif;
}


/* Container for flexboxes */

.row {
    display: -webkit-flex;
    display: flex;
}


/* Create three unequal columns that sits next to each other */

.column {
    display: flex;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Left and right column */

#navSide {
    -webkit-flex: 1;
    background-color:#0d1319fa;
    background: url(./assets/navBack1.jpg);

    -ms-flex: 2;
    flex: 2;
    max-width: 200px;
}


/* Left and right column */

@media (max-width: 300px) {
    #navSide {
        max-width: 100%;
    }
}


/* Middle column */

#homeContent {
    background-color: #eee;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 7;
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 300px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}